doctype html

html(lang="en-US")
  head
    title Medical Conferences Directory
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")
  body
    header
      h1 Welcome to the Medical Conferences Directory
    main
      p blah blah blah