doctype html

html(lang="en-US")
  head
    title Medical Conferences Directory
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")
  body
    header
      h1 Welcome to the International Medical Conferences Directory
    main
      label(for="specialty") Choose a specialty: 
      select(name="specialty")
        each specialty in uniqueSpecialties
          option= specialty

      ul
        each conference in conferences
          li= conference.name + ' | ' + conference.start_date + ' | ' + conference.specialty
      img(src="images/earth.jpg" alt="The Earth" title="The Earth")


  //-     each conference in conferences
  //- li= conference.name + ' / ' + conference.start_date.toISOString().slice(0,10)